.SelectMenu {
    .SelectMenu_container {
        @apply p-1 bg-white rounded-lg overflow-auto;
        border: 2px solid transparent;
        transition: border .1s ease-in-out;
        width: 20rem;

        &.SelectMenu_container-focused {
            @apply border-teal-400 border-b-0 rounded-b-none;
            border-bottom: 1px solid lightgrey;
        }
    }

    .SelectMenu_persisted_list {
        @apply inline;

        .SelectMenu_persisted_list_item {
            @apply py-1 px-2 bg-teal-300 rounded-lg mr-2 mb-1;
        }
    }

    .SelectMenu_input {
        @apply flex-grow inline bg-transparent;

        &:focus {
            outline: none;
        }
    }

    .SelectMenu_list {
        @apply bg-white border-l-2 border-r-2 border-b-2 border-teal-400 rounded-b-lg overflow-auto;
        max-height: 20rem;

        .SelectMenu_list-item {
            button {
                @apply p-1 w-full h-full text-left;
            }

            &:hover,
            &:focus,
            &:active {
                @apply bg-gray-400 pl-2;
            }
        }
    }
}